/* Alerts */
.fade-alert {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  max-width: 230px;
}

/* Images */
.img-header {
  height: 400px;
  width: 100%;
}

/* Button */
.btn-outline-success {
  color: #A6524B;
  border-color: #A6524B;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #A6524B;
  border-color: #A6524B;
}
.btn-success {
  color: #fff;
  background-color: #F2B6B6;
  border-color: #F2B6B6;
}

.btn-success:hover {
  color: #fff;
  background-color: #A6524B;
  border-color: #A6524B;
}

/* Navbar */
.position-menu {
  display: flex;
  align-self: normal;
  padding-bottom: 10px;
  color: #1d1d1f;
}
.navbar-light .navbar-brand {
  color: #1d1d1f;
}
.navbar-light .navbar-toggler {
  color: #1d1d1f;
  border-color: #1d1d1f;
}
.navbar-light .navbar-nav .nav-link {
  color: #1d1d1f;
}
.position-navbar {
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #F2B6B6;
}
.fixed-menu {
  padding-top: 104px;
}
button.navbar-toggler{
  margin-left: auto;
}
.margin-search {
  margin-left: auto;
}
.show-md {
  display: none;
}
.hidden-md {
  display: flex;
  width: 100%;
}

/* Home */
.list-pet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Forms */
.first-access .form-inline .form-control, .first-access .form-inline .custom-select {
  width: 100%!important;
}
.first-access .form-row {
  width: 100%;
}
/* Custo CheckedBox */
.custom-checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  box-shadow: inset 0 0 6px 0 rgba(0,0,0,.3);
}
.custom-checkbox.checked {
  background: #007bff;
  box-shadow: none;
}
.custom-checkbox.checked .fa{
  position: absolute;
  font-size: 13px;
  color: #fff;
  top: 3px;
  left: 3px;
}

@media screen and (min-width: 1024px) {
  .show-md {
    display: flex;
  }
  .img-header {
    height: 330px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .fade-alert {
    max-width: 100%;
  }
  .margin-search {
    margin-left: auto;
    margin-right: auto;
  }
  .margin-search .form-inline {
    flex-flow: row;
  }
  .margin-search .form-inline .search-button{
    margin-left: 10px;
  }
  .img-header {
    height: 230px;
    width: 100%;
  }
}